In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
data_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(data_csv)

In [2]:
# Formatting Variables
currency = "${:.2f}".format
percentage = "{:.2f}%".format

In [3]:
# Group dataframe by "SN" and count number of unique names
player_unique_df = purchase_data_df.drop_duplicates(subset="SN")
player_count = len(player_unique_df)

# Display total player count as dataframe and format column name
player_count_df = pd.DataFrame([player_count])
player_count_df.columns = ["Total Players"]

player_count_df

   Total Players
0            576

In [4]:
# Establish bins for ages, categorize players by age group
bins = [0,9,14,19,24,29,34,39,100]
bin_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
player_age = pd.cut(player_unique_df["Age"],bins,labels = bin_names,include_lowest=True)

# Calculate player count and percentages by age group, include formatting
age_count = player_age.value_counts()
age_percentage = (age_count/player_count)*100
age_population = {"Total Count":age_count,"Percentage of Players":age_percentage.apply("{:.2f}%".format)}

# Create and display a summary data frame to hold the results, with index sorted from youngest to oldest.
age_df = pd.DataFrame(age_population).sort_index(axis=0)
age_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [7]:
# Bin the purchase_data data frame by age
pd.cut(purchase_data_df["Age"],bins,labels = bin_names).head()
purchase_data_df["Age Group"] = pd.cut(np.array(purchase_data_df["Age"]),bins,labels = bin_names)

purchase_data_df["Age Group"]

NameError: name 'np' is not defined

In [11]:
group = purchase_data_df.groupby("Age Group")
purchase_data_df.index.is_unique

True

In [10]:
grouped = pd.DataFrame(group)
grouped.head()

       0                                                  1
0    <10       Purchase ID             SN  Age  Gender  ...
1  10-14       Purchase ID             SN  Age  Gender  ...
2  15-19       Purchase ID             SN  Age Gender  I...
3  20-24       Purchase ID             SN  Age  Gender  ...
4  25-29       Purchase ID            SN  Age  Gender  I...

In [ ]:
age_group = purchase_data_df.groupby("Age Group")
print(age_group["Price".count()])
# age_purch_count = player_age_group.count()
# age_average = [age_purchase["Price"].mean().apply("${:.2f}".format)]
# age_total_purchase = [age_purchase["Price"].sum().apply("${:.2f}".format)]
# age_avg_total_per = [(age_purchase["Price"].sum()/age_count).apply("${:.2f}".format)]
# player_age_group.head()
# age_group_df.head()

In [ ]:

age_summary_df = pd.DataFrame({
    "Purchase Count":age_purch_count,
    "Average Purchase Price":age_average,
    "Total Purchase Value":age_total_purchase,
    "Avg Total Purchase per Person":age_avg_total_per
})

age_summary_df = age_summary_df.reset_index(axis=1)