In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
data_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(data_csv)

purchase_data_df = pd.DataFrame(purchase_data)

In [2]:
# Formatting Variables
currency = "${:.2f}".format
percentage = "{:.2f}%".format

In [3]:
# Group dataframe by "SN" and count number of unique names
player_unique_df = purchase_data_df.drop_duplicates(subset="SN")
player_count = len(player_unique_df)

# Display total player count as dataframe and format column name
player_count_df = pd.DataFrame([player_count])
player_count_df.columns = ["Total Players"]

player_count_df

   Total Players
0            576

In [4]:
# Calculations for Purchasing Analysis = # Unique Items, Average Purchase Price, # of Purchases, and Total Revenue
unique_items = len(purchase_data_df["Item ID"].unique())
average_price = purchase_data_df["Price"].mean()
total_purchase_count = len(purchase_data_df["Purchase ID"].unique())
total_revenue = purchase_data_df["Price"].sum()

unique_items, average_price, total_purchase_count,total_revenue

#Define variable for and print summary table
summary = {"Number of Unique Items":unique_items,"Average Purchase Price":currency(average_price),"Number of Purchases":total_purchase_count,"Total Revenue":currency(total_revenue)}
purchasing_analysis_df = pd.DataFrame([summary])

purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [5]:
# Calculate player count by unique SN and gender
gender_count = player_unique_df.groupby("Gender").count()

gender_df = pd.DataFrame(gender_count)
gender_df = gender_df.rename(columns={"SN":"Total Count"})

# Change above player count to percentages
gender_percentage = (gender_df["Total Count"] / player_count)*100
gender_percentage = gender_percentage.apply("{:.2f}%".format)
gender_percentage_df = pd.DataFrame(gender_percentage)
gender_percentage_df = gender_percentage_df.rename(columns={"Total Count":"Percentage of Players"})

# Merge 2 dataframes to show count and percentage. Source: https://www.dataindependent.com/pandas/pandas-merge/

gender_demographics_df = pd.merge(gender_df["Total Count"],gender_percentage_df["Percentage of Players"],on="Gender")

gender_demographics_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [6]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
gender_sorted_df = purchase_data_df.groupby(["Gender"])
gender_purch_count = gender_sorted_df["Gender"].count()
gender_average = gender_sorted_df["Price"].mean()
total_purchase_value = gender_sorted_df["Price"].sum()
avg_total_per = total_purchase_value/(gender_df["Total Count"])

# Create a summary data frame to hold the results
gender_summary = {"Purchase Count":gender_purch_count,"Average Purchase Price":gender_average,"Total Purchase Value":total_purchase_value,"Avg Total Purchase per Person":avg_total_per}

# Edit columns for cleaner formatting
gender_summary_df = pd.DataFrame(gender_summary)
gender_summary_df["Purchase Count"] = gender_purch_count
gender_summary_df["Average Purchase Price"] = gender_average.apply("${:.2f}".format)
gender_summary_df["Total Purchase Value"] = total_purchase_value.apply("${:.2f}".format)
gender_summary_df["Avg Total Purchase per Person"] = avg_total_per.apply("${:.2f}".format)

# Display the summary data frame
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56