In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
data_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(data_csv)
purchase_data_df = pd.DataFrame(purchase_data)

In [2]:
# Group dataframe by "SN" and count number of unique names
player_unique_df = purchase_data_df.drop_duplicates(subset="SN")
player_count = len(player_unique_df)

# Display total player count as dataframe and format column name
player_count_df = pd.DataFrame([player_count])
player_count_df.columns = ["Total Players"]

player_count_df

   Total Players
0            576

In [3]:
# Establish bins for ages, categorize players by age group
bins = [0,9,14,19,24,29,34,39,100]
bin_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Calculate player count and percentages by age group, include formatting
player_age = pd.cut(player_unique_df["Age"],bins,labels = bin_names,include_lowest=True)
age_count = player_age.value_counts()
age_percentage = (age_count/player_count)*100
age_population = {"Total Count":age_count,"Percentage of Players":age_percentage.apply("{:.2f}%".format)}

# Create and display a summary data frame to hold the results, with index sorted from youngest to oldest.
age_df = pd.DataFrame(age_population).sort_index(axis=0)
age_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [4]:
# Bin the purchase_data data frame by age
purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"],bins,labels = bin_names)

ages_grouped = purchase_data_df.groupby(by="Age Ranges")

In [5]:
age_purch_count = ages_grouped["Purchase ID"].count()
age_average = ages_grouped["Price"].mean()
age_total_purchase = ages_grouped["Price"].sum()
age_avg_total_per = (age_total_purchase/age_count)

age_purch_summary = {"Purchase Count":age_purch_count,"Average Purchase Price":age_average,"Total Purchase Value":age_total_purchase,"Avg Total Purchase per Person":age_avg_total_per}

In [7]:
age_summary_df = pd.DataFrame(age_purch_summary, columns = ["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"])
age_summary_df["Purchase Count"] = age_purch_count
age_summary_df["Average Purchase Price"] = age_average.apply("${:.2f}".format)
age_summary_df["Total Purchase Value"] = age_total_purchase.apply("${:.2f}".format)
age_summary_df["Avg Total Purchase per Person"] = age_avg_total_per.apply("${:.2f}".format)

age_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19