In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
data_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(data_csv)
purchase_data_df = pd.DataFrame(purchase_data)

In [2]:
# * Retrieve the Item ID, Item Name, and Item Price columns
items_purchase_data_indexed = purchase_data_df.set_index(["Item ID","Item Name"])
popularitems_df = items_purchase_data_indexed.groupby(["Item ID","Item Name"])

# * Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
popularitems_purch_count = popularitems_df["Purchase ID"].count()
popularitems_purch_avg = popularitems_df["Price"].mean()
popularitems_total_purch = popularitems_df["Price"].sum()

# * Create a summary data frame to hold the results
items_summary = {"Purchase Count":popularitems_purch_count,
    "Average Purchase Price":popularitems_purch_avg,
    "Total Purchase Value":popularitems_total_purch}
items_summary_df = pd.DataFrame(items_summary)

# * Sort the purchase count column in descending order
items_summary_sorted = items_summary_df.sort_values(by ="Total Purchase Value",ascending = False)

# * Optional: give the displayed data cleaner formatting
items_summary_sorted["Average Purchase Price"] = popularitems_purch_avg.apply("${:.2f}".format)
items_summary_sorted["Total Purchase Value"]=popularitems_total_purch.apply("${:.2f}".format)

# * Display a preview of the summary data frame
items_summary_sorted.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80