In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
data_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(data_csv)
purchase_data_df = pd.DataFrame(purchase_data)

purchase_data_indexed = purchase_data_df.set_index(["SN"])

In [3]:
topspenders_df = purchase_data_indexed.groupby("SN")

In [4]:
topspenders_purch_count = topspenders_df["Purchase ID"].count()
topspenders_purch_avg = topspenders_df["Price"].mean()
topspenders_total_purch = topspenders_df["Price"].sum()

In [5]:
summary_df = pd.DataFrame({
    "Purchase Count":topspenders_purch_count,
    "Average Purchase Price":topspenders_purch_avg,
    "Total Purchase Value":topspenders_total_purch})

In [6]:
summary_df.sort_values(by = "Total Purchase Value",ascending = False)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                1.020000                  1.02
Irilis75                  1                1.020000                  1.02
Aidai61                   1                1.010000                  1.01
Chanirra79                1                1.010000                  1.01
Alo38                     1                1.000000                  1.00

[576 rows x 3 columns]